<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-2">401</h1>
          <h4 class="pt-1">Oops! Unauthorized Access.</h4>
          <p class="text-muted">You have attempted to access a page for which you are not authorized.</p>
        </div>
        <button type="button"  (click)="onLogin()" class="btn btn-lg btn-block btn-outline-info">Login ?</button>
      </div>
    </div>
  </div>
</div>
