<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <form [formGroup]="form" (ngSubmit)="onLogin(form.value)" class="form-horizontal">
                <h1>Se connecter</h1>
                <p class="text-muted">Connectez-vous à votre compte</p>
                <div class="input-group mb-1 has-success" [ngClass]="{'has-danger': (!login.valid && login.touched), 'has-success': (login.valid && login.touched)}">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input [formControl]="login" type="login" class="form-control" id="inputlogin" placeholder="Login">
                </div>
                <div class="input-group mb-2" [ngClass]="{'has-danger': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input [formControl]="password" type="password" class="form-control" placeholder="Mot de passe">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-primary px-2" >Connecter</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
