<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>S'enregistrer</h1>
            <p class="text-muted">Créer ton compte</p>
            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Login">
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Email">
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Roles">
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Mot de passe">
            </div>

            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Confirmer le mot de passe">
            </div>

              <div class="input-group mb-2">  
                <!--<picture-uploader #uploader (onUploadCompleted)="onUploadCompleted($event)" ngDefaultControl></picture-uploader>-->
              </div>

            <button type="button" (click)="onRegister()" class="btn btn-block btn-success">S'enregistrer</button>
          </div>
          <div class="card-footer p-2">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
