<div class="picture-group" [ngClass]="{uploading: uploadInProgress}">
  <div class="picture-wrapper" (click)="bringFileSelector();">
    <img [src]="previewData" *ngIf="previewData && !!!picture">
    <img [src]="picture" *ngIf="picture">
    <img [src]="defaultPicture" *ngIf="!!!picture && !!defaultPicture && !!!previewData">

    <div class="loading" *ngIf="uploadInProgress">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>
  <i class="icon-close icons" (click)="removePicture();" *ngIf="previewData && canDelete"></i>
  <a href class="change-picture" (click)="bringFileSelector();">Ajouter votre avatar</a>
    <input #fileUpload (change)="fileChangeEvent($event)" type="file" hidden="true">
</div>
